<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .flex{
        display: flex;
    }
</style>
<body>
    <header>
        <div class="flex" style="justify-content: space-around; align-items: center; margin:50px auto; max-width: 1200px;">
            <h1>kimkim</h1>
            <div>Home</div>
            <div>About</div>
            <div><a href="post/list">Post</a></div>
        </div>
    </header>
    <main>
        <div class="flex" style="justify-content: space-around; align-items: center; margin:50px auto; max-width: 1200px;">
            인닥스 페이지
        </div>
    </main>
</body>
</html>